<div class="modal-header">
  <h3 class="modal-title">{{::modal.modalTitle}}</h3>
</div>
<div class="modal-body">
  <label>Title</label>
  <input type="text" class="form-control" ng-model="modal.record.title">
  <label>Note</label>
  <textarea class="form-control" rows="5" ng-model="modal.record.data"></textarea>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="modal.save()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="modal.discard()">Discard</button>
  <button class="btn btn-danger" type="button" ng-click="modal.delete()"
          ng-if="modal.flags.deleteButtonFlag == 'true'">Delete
  </button>
</div>
