<nav class="navbar navbar-inverse navbar-default  ">
  <div class="container row">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a class="logout col-lg-6 glyphicon glyphicon-log-out"  ng-click="vm.logout()"></a></li>
      </ul>
      <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a class="logout col-lg-6 glyphicon glyphicon-log-out" ng-click="vm.logout()"></a>
      </div>
    </div>-->
  </div>
</nav>
