<div class="container">
  <div class="jumbotron text-center login col-lg-4 ">
    <form name="loginForm" validate>
      <div class="form-group">
        <label>Username</label>
        <input ng-model="login.username" type="text" class="form-control"
               placeholder="Enter username" autofocus="true" autocomplete="off" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input ng-model="login.password" type="password" class="form-control"
               placeholder="Enter password" required>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="login.proceedLogin()">Log In</button>
      </div>
    </form>
  </div>
</div>
