.card-block {
  border: 1px solid;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
  background: #2f96b4;
  position: relative;
  top: 30px;
}

.add-record {
  position: relative;
  height: 50px;
  border: 1px;
  border-radius: 10px;
}

.search-record {
  position: relative;
  top: 0;
  border: 1px;
}

.delete-record {

}

.sort-block .title {
  cursor: pointer;
}

.card p {
  font-size: medium;
  font-style: italic;
  font-family: cursive;
}

.card-title {
  font-family: fantasy;
  font-size: x-large;
  color: darkred;
}
