<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>
  <button class="button btn-primary glyphicon glyphicon-plus add-record" ng-click="main.addRecord()">Record</button>
  <div class="jumbotron text-center row">
    <div>
      <div class="search-bar col-xs-8 col-md-8 col-lg-8">
        <form ng-submit="main.searchRecords()">
          <div class="input-group add-on">
            <input class="form-control search-record" placeholder="Record title" ng-model="main.search" type="text">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="sort-block col-xs-2 col-md-2 col-lg-2">
        <a class="title" ng-click="main.sortByTitle()">Title<span
          ng-class="main.flags.sortByTitle_ascending ? 'glyphicon glyphicon-triangle-top' : 'glyphicon glyphicon-triangle-bottom'"></span></a>
      </div>
      <div class="filter-block col-xs-2 col-lg-2 col-md-2">

      </div>
    </div>

    <div class="card card-block" ng-repeat="record in main.records">
      <div>
        <div ng-click="main.update($index)">
          <h3 class="card-title" ng-bind="record.title"></h3>
          <p class="card-text" ng-bind="record.data"></p>
          <!--<a href="#" class="btn btn-primary">Update</a>-->
        </div>
        <!-- <button class="delete-record" ng-click="main.deleteRecord(todo)">Delete</button>-->
      </div>
    </div>

  </div>

  <uib-pagination total-items="main.paginationOptions.totalItems" ng-model="main.paginationOptions.currentPage"
                  max-size="mian.paginationOptions.maxSize" class="pagination-sm" ng-change="main.pageChanged()"
                  boundary-link-numbers="true"></uib-pagination>

</div>

